* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(30, 22, 82);
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 15px 25px  rgb(17, 9, 70);
    position: relative;
}
ul li {
    backdrop-filter: blur(15px);
   z-index: 20;
    /* opacity: 0.25; */
    list-style: none;

}
ul li a {
    position: relative;
    display: inline-block;
    color: white;
    padding: 20px 34px;
    z-index: 40;
}
ul li a ion-icon{
    font-size: 4em;
    opacity: 0.25;
    transition: 0.25s;
    pointer-events: none;

}
ul li:hover a ion-icon{
    opacity: 1;
}
#marker{
    position: absolute;
    top: 0;
    transition: 0.5s;
    z-index: 1;
}
#marker::before {
    content: '';
    position: absolute;
    top: -10px;
    transform: translateX(-50%);
    height: 70px;
    width: 65px;
    background-color: green;
    box-shadow: 0 0 15px green,
    0 0 30px green,
    0 0 45px green,
    0 0 60px green;
    border-radius: 8px;
}